.page-header{
  height:520px;
  width:100%;
  background-color:#D6D9E8;
  background-image:url("../images/black-scales.png");
  position:absolute;
  top:0px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
}
.image {
  display: flex;
  align-self: center;
}


