.page-header{
  height:400px;
  width:100%;
  background-color:#E58628;
  background-image:url("../images/black-scales.png");
  position:absolute;
  top:0px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  margin-top:120px;
  color:white;
}
.image {
  display: flex;
  align-self: center;
}
@media only screen and (min-width: 1024px) {
  .page-header {
    width: 45%;
    margin-left:5vh;
    margin-right:18vh;
    margin-top:20vh;
  }

}

/* @media only screen and (min-width: 1280px) {
  .content{
    margin-left:auto;
    margin-top:auto;
  }
} */
