#tweet-container {
  border:solid;
  border-color: #545149;
  margin-top: 50px; 
  border-width:4px ;
}

.tweet-header {
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  
}
.twitter-img {
  display:flex;
  align-self: flex-start;
  
}
#twitter-name {
  padding-left:15px;
  align-self: center;
}
#twitter-handle
{
  padding-right:15px;
  align-self: center;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #545149;
  margin: 1em 0;
  padding: 0;
  width:98%;
  margin-left:10px
}