.error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 50px;
  font-size: medium;
}


article.tweet {
  border:solid;
  border-color: #545149;
  margin-top: 50px; 
  border-width:4px ;
  overflow-wrap: anywhere;
  
}
article.tweet:hover {
  box-shadow: 10px 5px 5px #9CACD0;
}


article.tweet header {
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  
}
.twitter-img {
  display:flex;
  align-self: flex-start;
  padding-left:10px;
  
}
.twitter-name {
  padding-left:25px;
  align-self: center;
  font-weight:300;
  
}
.twitter-handle
{
  padding-right:15px;
  align-self: center;
  opacity:0.5;
}
.tweet-content {
  padding-left: 25px;
  padding-top:25px;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #545149;
  margin: 1em 0;
  padding: 0;
  width:98%;
  margin-left:10px
}

article.tweet footer{
  display:flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  align-items:flex-start;
  font-size:18px;
}

.fa-solid {
  color: #4056A1;
}
.fa-solid:hover {
  color: olive;
}